<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.csjava.campus.question.mapper.CheckPointMapper">
    <update id="updateByPrimaryKeyBySelective">
        update question_template
        <set>
            <if test="entity.regular != null">`editor_type`=#{entity.regular},</if>
            <if test="entity.describes != null">`index`=#{entity.describes},</if>
        </set>
        where id=#{entity.id}
    </update>

    <select id="selectByCondition"
            resultType="cn.csjava.campus.question.entity.CheckPointEntity">

        select * from `check_point` where 1=1
        <choose>
            <when test="regular != null">and `editor_type`=#{regular}</when>
            <when test="describes != null">and `describes`=#{describes}</when>
            <when test="id != null">and `id`=#{id}</when>
            <!--<otherwise>-->
            <!--and id=#{id}-->
            <!--</otherwise>-->
        </choose>
    </select>

    <insert id="save" parameterType="cn.csjava.campus.question.entity.CheckPointEntity">
        insert into `check_point`(`regular`,`describes`,`create_time`) values(#{regular},#{describes},#{createTime})

    </insert>

</mapper>

